body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e3f2fd;
  text-align: center;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;

}

#logo {
  width: 150px;
  height: 100px;
  align-self: center;
}

#cart {
  height: 55px;
  width: 55px;
  /* margin-left: auto; */

}


.cat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.cat-card {
  /* width: 20%; */
  margin: 20px;
  background: white;
  border-radius: 0.375rem;
  text-align: center;
  padding-bottom: 20px;
  
}

.cat-card img {
  max-width: 100%;
  height: auto;
  width: 380px;
  height: 300px;
  border-radius: 0.375rem;
}

.cat-card button {
  background-color: darkslateblue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.basket {
  height: 400px;
  width: 400px;
  background-color: blueviolet;
}

@media all and (max-width: 1200px) {
  .cat-card {
    width: 40%;
  }
}

@media all and (max-width: 700px) {
  .cat-card {
    width: 100%;
  }
}